<!-- pages/edit.ejs -->

<div class="container my-5">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <!-- Edit Recipe Card -->
      <div class="card border-0 shadow-sm rounded-3">
        <div class="card-body p-4">
          <h2 class="mb-4 fw-bold">Edit Recipe</h2>

          <%- include('../partials/recipe-form.ejs', {recipe, formAction: `/recipes/${recipe._id}?_method=PUT`}) %>
        </div>
      </div>
    </div>
  </div>
</div>